<head>

</head>

<body class="services">


    <div class="container" id="title_container">
        <h1 class="services_title">We Take Pride In Your Move</h1>
    </div>

    <div class="container" id="service_container">
        <div class="flex-grid">
            <br><br>
            <div class="col" id="box_1">
                <%= image_tag("package (2).png", class: "icon-img") %>
                <h3>Packing</h3>
                <p>We will box all of your loose items.</p>
            </div>
            <div class="col" id="box_2">
                <%= image_tag("loading (1).png", class: "icon-img") %>
                <h3>Loading/Unloading</h3>
                <p>We handle all your labor service needs.</p>
            </div>
            <div class="col" id="box_3">
                <%= image_tag("trash (3).png", class: "icon-img") %>
                <h3>Trash Removal</h3>
                <p>Big or small, you know the Moving General has your haul!</p>
            </div>
        </div>
        <br><br>
        <div class="button_slide slide_left"><a href="/quote">Free Quote</a></div>
        <br><br>
    </div>

</body>

<footer>
    <div class="container" id="footer_container">
        <%= image_tag("icon.PNG", class: "icon") %>
        <div class="flex-grid-footer">
            <div class="col">
                <a href="#"><h5>HOME</h5></a>
            </div>
            <div class="col">
                <a href="/services"><h5>SERVICES</h5></a>
            </div>
            <div class="col">
                <a href="/contact-us"><h5>CONTACT</h5></a>
            </div>
        </div>
        <p>Feel Free to Contact Us at Any Time to Ask a Question or Chat!</p>
        <p>alex@movinggeneral.com</p>
        <p>cole@movinggeneral.com</p>
        <h3 id="phone_number"><a href="tel:6143981565">614-398-1565</a></h3>
        <div class="flex-grid-footer">
            <div class="col">
                <a href="https://www.facebook.com/movinggeneral88"><%= image_tag("f_logo_RGB-White_72.png", class: "icon") %></a>
            </div>
            <div class="col"><%= image_tag("instagram-icon-white.png", class: "icon") %></div>
            <div class="col">
                <a href="https://www.linkedin.com/company/moving-general-llc/"><%= image_tag("In-White-121px-R.png", class: "icon") %></a>
            </div>
        </div>
        <p class="site-footer__fineprint" id="fineprint">Copyright ©2021 | Moving General LLC | All Rights Reserved</p>
    </div>
</footer>