<!DOCTYPE html>
<html>
  <head>
  <!-- Primary Meta Tags -->
  <title>Affordable Moving Services Columbus, Ohio | Moving General</title>
  <meta name="title" content="Affordable Moving Services Columbus, Ohio | Moving General">
  <meta name="description" content="Moving General offers Packing, Loading, Unloading, Junk Removal, and Full-Service Moves. We set the standard when It Comes to Moving. ">
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://movinggeneral.com/">
  <meta property="og:title" content="Affordable Moving Services Columbus, Ohio | Moving General">
  <meta property="og:description" content="Moving General offers Packing, Loading, Unloading, Junk Removal, and Full-Service Moves. We set the standard when It Comes to Moving. ">
  <meta property="og:image" content="https://movinggeneral.com/assets/icon-c6c17cf42bf5dd7ce7690aca3363695a6966fe25acb4be0b5246fdeab68b3ebe.PNG">
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://movinggeneral.com/">
  <meta property="twitter:title" content="Affordable Moving Services Columbus, Ohio | Moving General">
  <meta property="twitter:description" content="Moving General offers Packing, Loading, Unloading, Junk Removal, and Full-Service Moves. We set the standard when It Comes to Moving. ">
  <meta property="twitter:image" content="https://movinggeneral.com/assets/icon-c6c17cf42bf5dd7ce7690aca3363695a6966fe25acb4be0b5246fdeab68b3ebe.PNG">    
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon (1).ico') %>

    <!-- Schema -->

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MovingCompany",
  "name": "Moving General LLC",
  "image": "https://movinggeneral.com/assets/icon-c6c17cf42bf5dd7ce7690aca3363695a6966fe25acb4be0b5246fdeab68b3ebe.PNG",
  "@id": "",
  "url": "https://movinggeneral.com/",
  "telephone": "+1-614-398-1565",
  "priceRange": "$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "",
    "addressLocality": "Columbus",
    "addressRegion": "OH",
    "postalCode": "43212",
    "addressCountry": "US"
  } ,
  "sameAs": [
    "https://www.facebook.com/movinggeneral88",
    "https://www.instagram.com/movinggeneral88/",
    "https://www.linkedin.com/company/moving-general-llc/"
  ] 
}
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E37RM6L9K0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E37RM6L9K0');
</script>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <% unless request.path == "/submitted" %>
      <div class="nav-menu">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="navbar">
            <a class="<%= active_class(root_path) %>" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
            <a class="<%= active_class(services_path) %>" href="/services"><i class="fa fa-fw fa-users"></i> Services</a>
            <a class="<%= active_class(quote_path) %>" href="/quote"><i class="fa fa-fw fa-envelope"></i> Book Now!</a>
            <!--
                <a href="/users/sign_up"><i class="fa fa-fw fa-user"></i>
                    <% if !logged_in? %> 
                        Login
                    <% else %>
                        <%= current_user.username %>
                    <% end %>
                </a>
            -->
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
